
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'notifications';


SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'coach_xp_applications';

