
-- 教練請假資料表
CREATE TABLE IF NOT EXISTS public.coach_leaves (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    coach_id UUID REFERENCES auth.users(id),
    coach_name TEXT NOT NULL,
    start_at TIMESTAMP WITH TIME ZONE NOT NULL,
    end_at TIMESTAMP WITH TIME ZONE NOT NULL,
    leave_type TEXT NOT NULL, -- 病假, 公假, 事假, 喪假, 其他
    reason TEXT NOT NULL,
    proof_images TEXT[] DEFAULT '{}', -- 圖片 URL 陣列
    status TEXT DEFAULT '待審核', -- 待審核, 已通過, 已退件
    admin_feedback TEXT, -- 管理員退件原因
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 自動關閉 RLS 以便測試
ALTER TABLE public.coach_leaves DISABLE ROW LEVEL SECURITY;
GRANT ALL ON TABLE public.coach_leaves TO anon, authenticated, service_role;

-- 確保通知表也存在 (如果之前沒建過)
CREATE TABLE IF NOT EXISTS public.notifications (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID NOT NULL,
    title TEXT NOT NULL,
    content TEXT NOT NULL,
    category TEXT DEFAULT '系統', -- 公告, 活動, 系統
    is_read BOOLEAN DEFAULT false,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);
ALTER TABLE public.notifications DISABLE ROW LEVEL SECURITY;
GRANT ALL ON TABLE public.notifications TO anon, authenticated, service_role;

