
-- 教練證照申請資料表
CREATE TABLE IF NOT EXISTS public.coach_certifications (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    coach_id UUID REFERENCES auth.users(id),
    coach_name TEXT NOT NULL,
    cert_name TEXT NOT NULL,
    organization TEXT NOT NULL,
    obtained_date DATE NOT NULL,
    expiry_date DATE,
    proof_images TEXT[] DEFAULT '{}',
    status TEXT DEFAULT '待審核', -- 待審核, 核准, 未通過
    admin_feedback TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 自動關閉 RLS 以便測試
ALTER TABLE public.coach_certifications DISABLE ROW LEVEL SECURITY;
GRANT ALL ON TABLE public.coach_certifications TO anon, authenticated, service_role;

