
-- 教練課表資料表
CREATE TABLE IF NOT EXISTS public.coach_schedule (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    coach_id UUID REFERENCES auth.users(id),
    date DATE NOT NULL,
    start_time TIME NOT NULL,
    end_time TIME NOT NULL,
    type TEXT DEFAULT 'course', -- 'course' 或 'other'
    category TEXT, -- '重訓', '有氧', '皮拉提斯', '瑜珈', '其他'
    student_info TEXT, -- 學員姓名或人數
    title TEXT, -- 如果是 'other' 則使用此標題
    content TEXT, -- 內容備註
    is_completed BOOLEAN DEFAULT false,
    is_special BOOLEAN DEFAULT false,
    special_reason TEXT,
    proof_images TEXT[] DEFAULT '{}',
    post_notes TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 自動關閉 RLS 以便測試
ALTER TABLE public.coach_schedule DISABLE ROW LEVEL SECURITY;
GRANT ALL ON TABLE public.coach_schedule TO anon, authenticated, service_role;

