
DO c:\Users\User\Documents\JENZiQ 手機APP 
BEGIN 
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='coach_leaves' AND column_name='coach_email') THEN
        ALTER TABLE public.coach_leaves ADD COLUMN coach_email TEXT;
    END IF;
END c:\Users\User\Documents\JENZiQ 手機APP;

