
-- 修正 coach_leaves 表格
DO c:\Users\User\Documents\JENZiQ 手機APP 
BEGIN 
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='coach_leaves' AND column_name='coach_email') THEN
        ALTER TABLE public.coach_leaves ADD COLUMN coach_email TEXT;
    END IF;
END c:\Users\User\Documents\JENZiQ 手機APP;

-- 修正 coach_certifications 表格
DO c:\Users\User\Documents\JENZiQ 手機APP 
BEGIN 
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='coach_certifications' AND column_name='coach_email') THEN
        ALTER TABLE public.coach_certifications ADD COLUMN coach_email TEXT;
    END IF;
END c:\Users\User\Documents\JENZiQ 手機APP;

-- 確保權限開放 (如果您手動加了欄位，權限可能需要重設)
GRANT ALL ON TABLE public.coach_leaves TO anon, authenticated, service_role;
GRANT ALL ON TABLE public.coach_certifications TO anon, authenticated, service_role;

