
-- 讓 user_id 變成非必填，避免因為抓不到 ID 導致發送失敗
ALTER TABLE IF EXISTS public.notifications ALTER COLUMN user_id DROP NOT NULL;

-- 確保所有欄位都存在
ALTER TABLE IF EXISTS public.notifications ADD COLUMN IF NOT EXISTS target_role TEXT;
ALTER TABLE IF EXISTS public.notifications ADD COLUMN IF NOT EXISTS tag TEXT;

