
-- 更新通知表結構
ALTER TABLE IF EXISTS public.notifications ADD COLUMN IF NOT EXISTS target_role TEXT DEFAULT 'all';
ALTER TABLE IF EXISTS public.notifications ADD COLUMN IF NOT EXISTS tag TEXT DEFAULT '公告';

-- 修正欄位一致性 (如果有舊資料)
UPDATE public.notifications SET tag = '公告' WHERE tag IS NULL;

